{% extends 'layout.html' %}

{% block Body1 %}
{% from 'includes/_formhelpers.html' import render_field %}
    <div class="content-hx">
        <div class="form-holder">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend>Reset Password</legend>
                    <div class="form-group">
                        {{ form.password.label(class= 'form-control-label') }}
                        {{ render_field(form.password) }}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class= 'form-control-label') }}
                        {{ render_field(form.confirm_password) }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class = "form-control btn") }}
                </div>
            </form>
        </div>
    </div>

{% endblock Body1 %}